.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #87ceeb;
  padding-top: 20px;
  overflow-x: hidden;
  transition: 0.5s;
}
.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar .text-center p {
  color: black;
}

.text-center p,
h3 {
  color: black;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
  transition: margin-left 0.5s;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
    padding: 15px;
  }
  .sidebar a:hover {
    background-color: #575757;
  }
  .main-content {
    margin-left: 0;
  }
}
@media screen and (max-width: 480px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
.img-profile {
  width: 250px; 
  height: 250px; 
  border: 2px solid #000; 
  border-radius: 50%; 
  object-fit: cover; 
}

.foto-profile {
  width: 100px; 
  height: 100px; 
  border: 2px solid white; 
  border-radius: 50%; 
  object-fit: cover; 
}
